@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
	margin: 0px;
}

#titulo{
	font-family: 'Readex Pro', sans-serif;
	font-size: 3rem;
	color: white;
	filter: drop-shadow(7px 6px 3px #000000);
	position: relative;
	top: 30px;
	
}

#subtitulo{
	font-family: 'Readex Pro', sans-serif;
	font-size: 2rem;
	color: white;
	filter: drop-shadow(6px 5px 2px #000000);
	position: relative;
	top: 31px;
}

#texto{
	font-family: 'Readex Pro', sans-serif;
	font-size: 2.2rem;
	color: white;
}

.container {
	display: flex;
	align-items: center;
	padding: 10px;
}

.alinhar {
	align-items: center;
	padding: 2px;
}
  
.img {
	max-width: 100%;
}

.container {
	display: flex;
	align-items: center;
	padding: 10px;
}

.sub {
	display: flex;
	align-items: center;
	padding: 10px;
}

.Subtitul {   
	text-align: inherit;
}

.Rodape {
	background-color: #242323;
	text-align: left;
}

.linhaverde {
	position: relative;
	top: 64.5px;
	align-items: left;
}

.clear {
	clear: both;
}

body{
	background: #ffffff;
	font-family: 'Open Sans', sans-serif;
  }
  
  .search {
	width: 100%;
	position: relative;
	display: flex;
  }
  
  .searchTerm {
	width: 100%;
	border: 3px solid #9F9F9F;
	border-right: none;
	padding: 5px;
	height: 40px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #9DBFAF;
  }
  
  .searchTerm:focus{
	color: #9F9F9F;
  }
  
  .searchButton {
	width: 40px;
	height: 56px;
	border: 1px solid #9F9F9F;
	background: #9F9F9F;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 50px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
	width: 30%;
	position: relative;
	bottom: 80px;
	left: 56%;
  }

  #retangulo {

	margin-top: 15px;
	margin-left: 30px;
	width: 90% ;
	height: 1000px;
	background-color: #242323;
	opacity: 89%;
	

}