@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');

*{
	margin: 0px;
}

#titulo{
	font-family: 'Readex Pro', sans-serif;
	font-size: 3rem;
	color: white;
	filter: drop-shadow(7px 6px 3px #000000);
	position: relative;
	top: 40px;
	
}

#subtitulo{
	font-family: 'Readex Pro', sans-serif;
	font-size: 2rem;
	color: white;
	filter: drop-shadow(6px 5px 2px #000000);
	position: relative;
	top: 41px;
}

#texto{
	font-family: 'Readex Pro', sans-serif;
	font-size: 2.2rem;
	color: white;
}

.container {
	display: flex;
	align-items: center;
	padding: 10px;
}

.alinhar {
	align-items: center;
	padding: 2px;
}
  
.img {
	max-width: 100%;
}

.container {
	display: flex;
	align-items: center;
	padding: 10px;
}

.sub {
	display: flex;
	align-items: center;
	padding: 10px;
}

.Subtitul {   
	text-align: inherit;
}

.Rodape {
	background-color: #242323;
	text-align: left;
}

.linhaverde {
	position: relative;
	top: 100px;
	background-color: #00FF0A;
	text-align: left;
}

.clear {
	clear: both;
}